DceAccessLib/Web References/DCEService/DCEAccess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://edu.kvazar-micro.com/dce" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://edu.kvazar-micro.com/dce" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://edu.kvazar-micro.com/dce">
      <s:element name="GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqlString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetResult" type="tns:DCETransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DCETransactionResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Class" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:unsignedByte" />
          <s:element minOccurs="1" maxOccurs="1" name="Number" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SqlString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="dataSet">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="tns:TransactionResult" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionClass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TransactionResult">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="SqlException" />
          <s:enumeration value="UnhandledException" />
        </s:restriction>
      </s:simpleType>
      <s:element name="SaveDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqlString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveDataSetResult" type="tns:DCETransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqlString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataSet">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataSetResult" type="tns:DCETransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sqlString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecSQLResult" type="tns:DCETransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataSets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sql" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="tableName" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="dataSets" type="tns:ArrayOfDataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDataSet">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DataSet" nillable="true">
            <s:complexType>
              <s:sequence>
                <s:element ref="s:schema" />
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateDataSetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataSetsResult" type="tns:DCETransactionResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="SaveDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:SaveDataSet" />
  </wsdl:message>
  <wsdl:message name="SaveDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:SaveDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDataSet" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="ExecSQLSoapIn">
    <wsdl:part name="parameters" element="tns:ExecSQL" />
  </wsdl:message>
  <wsdl:message name="ExecSQLSoapOut">
    <wsdl:part name="parameters" element="tns:ExecSQLResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSetsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDataSets" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSetsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataSetsResponse" />
  </wsdl:message>
  <wsdl:portType name="DCEAccessSoap">
    <wsdl:operation name="GetDataSet">
      <wsdl:input message="tns:GetDataSetSoapIn" />
      <wsdl:output message="tns:GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveDataSet">
      <wsdl:input message="tns:SaveDataSetSoapIn" />
      <wsdl:output message="tns:SaveDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSet">
      <wsdl:input message="tns:UpdateDataSetSoapIn" />
      <wsdl:output message="tns:UpdateDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecSQL">
      <wsdl:input message="tns:ExecSQLSoapIn" />
      <wsdl:output message="tns:ExecSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSets">
      <wsdl:input message="tns:UpdateDataSetsSoapIn" />
      <wsdl:output message="tns:UpdateDataSetsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DCEAccessSoap" type="tns:DCEAccessSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://edu.kvazar-micro.com/dce/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataSet">
      <soap:operation soapAction="http://edu.kvazar-micro.com/dce/SaveDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSet">
      <soap:operation soapAction="http://edu.kvazar-micro.com/dce/UpdateDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecSQL">
      <soap:operation soapAction="http://edu.kvazar-micro.com/dce/ExecSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSets">
      <soap:operation soapAction="http://edu.kvazar-micro.com/dce/UpdateDataSets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DCEAccessSoap12" type="tns:DCEAccessSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://edu.kvazar-micro.com/dce/GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDataSet">
      <soap12:operation soapAction="http://edu.kvazar-micro.com/dce/SaveDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSet">
      <soap12:operation soapAction="http://edu.kvazar-micro.com/dce/UpdateDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecSQL">
      <soap12:operation soapAction="http://edu.kvazar-micro.com/dce/ExecSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDataSets">
      <soap12:operation soapAction="http://edu.kvazar-micro.com/dce/UpdateDataSets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DCEAccess">
    <wsdl:port name="DCEAccessSoap" binding="tns:DCEAccessSoap">
      <soap:address location="http://localhost:6349/DTWork/WebServices/DCEAccess.asmx" />
    </wsdl:port>
    <wsdl:port name="DCEAccessSoap12" binding="tns:DCEAccessSoap12">
      <soap12:address location="http://localhost:6349/DTWork/WebServices/DCEAccess.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>